<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JUSWB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JUSWB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <JUSWB.My.MySettings>
            <setting name="FullAccess_User" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="FullAccess_Pass" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="FullAccess_level" serializeAs="String">
                <value>10</value>
            </setting>
        </JUSWB.My.MySettings>
    </applicationSettings>
    <userSettings>
        <JUSWB.My.MySettings>
            <setting name="Unit" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="level_Administration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_SettingsManagement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_Administration_TransactionList" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_Administration_Transporter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_Administration_Product" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_Administration_Vehicle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_Administration_Operator" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_Administration_Customer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_SettingsManagement_General" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_SettingsManagement_Application" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_SettingsManagement_Reports" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_SettingsManagement_Security" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_SettingsManagement_Database" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_Administration_TransactionList_Create" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_Administration_TransactionList_Edit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_Administration_TransactionList_Delete" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_Administration_TransactionList_Backup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_Administration_TransactionList_Restore"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_SettingsManagement_Database_Backup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_SettingsManagement_Database_Restore" serializeAs="String">
                <value>0</value>
            </setting>
        </JUSWB.My.MySettings>
    </userSettings>
</configuration>